@import "./reset.scss";
@import "./variables/global.scss";
@import "./themes/dark.scss";
@import "./themes/light.scss";
@import "./themes/orange.scss";

.app,
.app_modal,
.app_drawer {
	font: var(--font-l);
	color: var(--primary-color);
}

.app {
	background: var(--bg-color);
	min-height: 100vh;
	font-family: 'Consolas';
	src: url('../../shared/assets/fonts/consolas.ttf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

.content-page {
	display: flex;
}

*::-webkit-scrollbar {
	width: 12px; // ширина scrollbar
}

*::-webkit-scrollbar-track {
	background: var(--card-bg); // цвет дорожки
}

*::-webkit-scrollbar-thumb {
	background-color: var(--secondary-color); // цвет плашки
	border-radius: 20px; // закругления плашки
	border: 3px solid var(--card-bg); // padding вокруг плашки
}