.title {
	color: var(--primary-color);
}

.text {
	color: var(--secondary-color);
}

.error {
	.title {
		color: var(--red-light)
	}

	.text {
		color: var(--red-dark)
	}
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.size_s {
	.title {
		font-size: var(--font-size-s);
	}
	.text {
		font-size: var(--font-size-s);
	}
}

.size_m {
	.title {
		font-size: var(--font-size-l);
	}
	
	.text {
		font-size: var(--font-size-m);
	}
}

.size_l {
	.title {
		font-size: var(--font-size-xl);
	}
	
	.text {
		font-size: var(--font-size-l);
	}
}

.size_xl {
	.title {
		font-size: var(--font-size-xl);
	}
	
	.text {
		font-size: var(--font-size-xl);
	}
}