.Sidebar {
	height: calc(100vh - var(--navbar-height));
	width: var(--sidebar-width);
	background: var(--inverted-bg-color);
	position: relative; // чтобы позиционировать блоки контента в сайдбаре
	transition: width 0.3s;
}

.switchers {
	position: absolute; // опускаем переключатели вниз, ботом и тд относительно родителя
	bottom: 20px;
	display: flex;
	justify-content: center;
	width: 100%;
}

.lang {
	margin-left: 20px;
}

.links {
	margin-top: 20px;
	margin-left: 25px;
	display: flex;
	flex-direction: column;
}

.collapseBtn {
	position: absolute;
	right: -40px;
	bottom: 40px;
	z-index: 100;
}

.collapsed {
	width: var(--sidebar-width-collapsed);

	.switchers {
		flex-direction: column;
		align-items: center;
	}

	.lang {
		margin-top: 10px;
		margin-left: 0px;
	}
}

