.menu {
	margin-top: 2px;
	background: var(--card-bg);
	position: absolute;
	z-index: 10000;
	border-radius: 8px;
	border: 1px solid var(--primary-color);
}

.item {
	display: flex;
	flex-direction: column;
	padding: 10px 25px;
	width: 100%;
	border: none;
	background: none;
	outline: none;
	color: var(--primary-color);
	cursor: pointer;
}