.app_orange_theme {
	--bg-color: #FBF8F4;
	--inverted-bg-color:  #d58019;
	--primary-color: #DC1B09;
	--secondary-color: #FBF8F4;

	--inverted-primary-color: #FBF8F4;
	--inverted-secondary-color: #DC1B09;
}