.AddCommentForm {
	border: 1px solid var(--primary-color);
	display: flex;
	padding: 15px;
	justify-content: space-between;
	align-items: center;
}

.input {
	flex-grow: 1; // чтобы он занимал всё свободное пространство
}