.AppLink {
	color: var(--inverted-primary-color);
	&:hover {
		opacity: 0.7;
		transition: 0.3s;
	}
}

.primary {
	color: var(--inverted-primary-color);
}

.secondary {
	color: var(--primary-color);
}